node_modules/
.expo/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local
android/
ios/

# But include native code in local modules
!modules/**/android/
!modules/**/ios/
